body{
    background: #157dad;
    text-align: center;
}
.titulo{
    text-decoration: underline;
    color: #4f12c0;
    
}
.sub-titulo{
    color: #af1622;
}
p{
    color: #c07219;
    text-align: justify;
}
#serif{
    font-family: 'Playfair Display', serif;
}
#sans-serif{
    font-family: 'Russo One', sans-serif;
}
#display{
    font-family: 'Special Elite', cursive;
}
#handwritting{
    font-family: 'Indie Flower', cursive;
}
#monospace{
    font-family: 'VT323', monospace;
}